<div class="page" [ngClass]="theme">
  <nav class="nav">
    <div class="container">
      <app-nav-bar [theme]="theme" (themeChanged)="updateTheme($event)"></app-nav-bar>
    </div>
  </nav>
  <main class="main">
    <div class="container">
      <div class="bar">
        <app-search-bar (textChanged)="filterCountries($event)"></app-search-bar>
      </div>
      <div class="grid">
        <a style="text-decoration: none;" *ngFor="let country of filteredCountries" [routerLink]="['/country', country.name]">
          <app-country-card  [country]="country" ></app-country-card>
        </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

